inputs/01/input.txt
inputs/02/input.txt
inputs/03/input.txt
inputs/04/input.txt
inputs/05/input.txt
inputs/06/input.txt
inputs/07/input.txt
inputs/08/input.txt
inputs/09/input.txt
inputs/10/input.txt
inputs/11/input.txt
inputs/12/input.txt
inputs/13/input.txt
inputs/14/input.txt
inputs/15/input.txt
inputs/16/input.txt
inputs/17/input.txt
inputs/18/input.txt
inputs/19/input.txt
inputs/20/input.txt
inputs/21/input.txt
inputs/22/input.txt
inputs/23/input.txt
inputs/24/input.txt
inputs/25/input.txt